asgiref==3.10.0
Django==5.2.8
sqlparse==0.5.3
tzdata==2025.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.10.1
django-cors-headers==4.9.0
django-filter==24.3
Pillow==12.0.0
requests==2.32.3
celery==5.4.0
redis==5.2.0
python-decouple==3.8
openai~=1.0
psycopg2-binary>=2.9.9
gunicorn>=20.1.0